<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tennez.inventory" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InventoryCheckActivity"
            android:label="@string/title_activity_inventory_check"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tennez.inventory.MainMenu" />
        </activity>
        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tennez.inventory.MainMenu" />
        </activity>
        <activity
            android:name=".AddProductsActivity"
            android:label="@string/title_activity_add_products"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tennez.inventory.MainMenu" />
        </activity>
        <activity
            android:name=".ShoppingListSectionActivity"
            android:label="@string/title_activity_shopping_list_section"
            android:parentActivityName=".ShoppingListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tennez.inventory.ShoppingListActivity" />
        </activity>
        <activity
            android:name=".ItemsConfigurationActivity"
            android:label="@string/title_activity_items_configuration"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tennez.inventory.MainMenu" />
        </activity>
        <activity
            android:name=".StorageSectionsEditActivity"
            android:label="@string/title_activity_edit_storage_sections"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tennez.inventory.MainMenu" />
        </activity>
    </application>

</manifest>
